/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/StatisticBar/SBar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.SBar_bar__CsUVU {
    border: 5px solid black;
    height: 60px;
    width: 100%;
}


.SBar_dislikes__QSQQd {
    background-color: black;
    height: 100%;
}

.SBar_likes__c3gHR {
    background-color: white;
    height: 100%;
}

.SBar_container__s9Hsh {
    display: flex;
    width: 100%;
    height: 100%;
}
