/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/login/login.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.login_main__sJRds {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}



.login_customLink__XEQfe {
	color: #000;
	padding-right: 0.3em;
}

.login_form__NY6Qf {

	text-align: center;
	min-width: 300px;
	max-width: 600px;
	height: 500px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.login_signUp__NBr42 {
	position: absolute;
	bottom: 60px;
	color: black;
}




.login_form__NY6Qf form {
	padding-top: 2em;

}

.login_form__NY6Qf input {
	border: 1px solid black;
	width: 92%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	outline: none;
	border-radius: 5px;
}

.login_error__wxSLK {
	border: 3px solid red !important;
}

.login_errorlabel__HOFCL {
	font-size: 10px;
	color: red;
	margin: 0;
	text-align: center;
}

.login_form__NY6Qf button {
	width: 100%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #000;
	background: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


.login_form__NY6Qf button:hover {
	background: #000000;
	color: #ffffff;
}

.login_form__NY6Qf button:disabled {
	background: #bebdbd;
	color: #777272;
	border-color: #777272;
	;

}
