
* {
	padding: 0;
	margin: 0;
}


.nav {
	display: flex;
	width: 100%;
	background-color: #45b7df;
}

.nav li {
	
	padding: 8px;
	margin: 0 3px;
	list-style-type: none;
}

.nav li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.nav li:hover {
	background-color: #b4d7e3;
}

.user {
	position: absolute;
	top: 0;
	right: 10px;
}