.blackbg {
    background: #131313;
    color: white;
}

.whitebg {
    display: flex;
    justify-self: center;
}




.profilePhotoContainer {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.profilePhoto {
    border-radius: 50%;
    border: 3px solid white;
}

.profileName {
    margin-top: 20px;
    text-align: center;
}

.profileStat {
    margin-top: 10px;
    text-align: center;

}

.switchButtosBlack {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: white;
}


.btnlike button,
.btndislike button {
    border: none;
    color: #131313;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    font-size: 2em;
    box-sizing: border-box;
    border-bottom: 3px solid #131313;
    cursor: pointer;

}


.active {
    border-bottom: 3px solid white;
}