.main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {

	text-align: center;
	min-width: 300px;
	max-width: 600px;
	height: 500px;
	justify-content: center;
	align-items: center;
}


.form form {
	padding-top: 2em;

}

.form input {
	width: 80%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.error {
	border: 3px solid red !important;
}

.errorlabel {
	font-size: 10px;
	color: red;
	margin: 0;
	text-align: center;
}

.form button {
	width: 85%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #000;
	background: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


.form button:hover {
	background: #000000;
	color: #ffffff;
}

.form button:disabled {
	background: #bebdbd;
	color: #777272;
	border-color: #777272;
	;

}